body{
    
    font-family: 'Oswald', sans-serif;
}
.h1{
    font-size: 40px;
}
.h2{
    font-size: 40px;
}
.orange-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}