body{
    margin: 0 px;
    font-family: 'Roboto Condensed', sans-serif;
}
.h1{
    font-size: 40px;
}
.h2{
    font-size: 40px;
}
P{
    color: dimgray;
}
.orange-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
   

}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("picture/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 50px;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700px;
}
